

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juan Pablo Vargas / Web Personal</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap" rel="stylesheet">
    
    <link rel="icon" href="/static/imagenes/foto.png" type="image/x-icon">
    <style>
        body {
            font-family: 'Fira Code', monospace;
            margin: 0;
            padding: 0;
            background-color: #282a36;
            color: #f8f8f2;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.6;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        nav {
            background-color: #44475a;
            padding: 10px 0;
            border-bottom: 1px solid #6272a4;
        }
        .nav-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 0 20px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li:last-child {
            margin-right: 0;
        }
        nav ul li a, .access-link {
            color: #8be9fd;
            text-decoration: none;
        }

        
        .profile {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }
        .profile-image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
            border: 2px solid #ff79c6;
        }
        .projects-section {
            margin-bottom: 40px;
        }
        .projects-section h2 {
            color: #f1fa8c;
            font-weight: 400;
            margin-bottom: 20px;
            font-size: 14px;
        }
        .projects {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }
        .project {
            
            border-radius: 6px;
            padding: 20px;
            border: 1px solid #44475a;
        }
.display-none {
    display: none; /* Oculta todos los proyectos por defecto */
}

        .project:hover {
            border: 1px solid #ff79c6;
        }
        .project-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        .project-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
            margin-top: -10px;
            border: 1px solid #50fa7b;
        }
        .project-title {
            flex: 1;
        }
        
        .profile-text {
            flex: 1;
        }
        .profile-text h1 {
            color: #ff79c6;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .project h3 {
            margin: 0;
            color: #50fa7b;
            font-weight: 400;
            font-size: 14px;
        }
        .project-rights {
            color: #bd93f9;
            font-size: 12px;
            margin-top: 2px;
        }
        .skills {
            margin-top: 15px;
        }
        .skill {
            margin-bottom: 10px;
        }
        .skill-name {
            display: inline-block;
            width: 100px;
            color: #f1fa8c;
        }
        .skill-bar {
            background-color: #6272a4;
            height: 10px;
            width: 100px;
            display: inline-block;
            vertical-align: middle;
        }
        .skill-level {
            background-color: #ff79c6;
            height: 100%;
        }
        .collaborations {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .collaboration {
            background-color: #44475a;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
        }
        .collaboration h3 {
            margin: 0;
            color: #50fa7b;
            font-weight: 400;
            font-size: 14px;
            width: 150px;
        }
        .collaboration p {
            margin: 0;
            flex: 1;
        }
        .collaboration-link {
            color: #8be9fd;
            text-decoration: none;
            margin-left: 15px;
        }
        .collaboration-link:hover {
            color: #f1fa8c;
        }

        .input-full { 
        width: 100%;
        box-sizing: border-box; 
        }

        .form-full input,
        .form-full textarea {
        width: 100%;
        box-sizing: border-box;
        }

        /* Textarea No Resize */
        .textarea-no-resize {
            resize: none;
        }


        .mb3 {
            margin-bottom: 1rem;
        }

        .mt3 {
            margin-top: 1rem;
        }


        /* Revisar hacia arriba */

        hr { 
            margin: 20px 0;
            border: 0;
            height: 6px; 
            background-image: radial-gradient(circle, #ee81c3 1px, transparent 1px); 
            background-size: 10px 10px; 
        }

        h1,h2,h3,h4,h5,h6 {
            color: #ff79c6;
            font-weight: 400;
            font-size: 14px;
        }

        .table-container {
      overflow-x: auto;
      max-width: 100%;
      border: 0px solid #ddd;
      padding: 0px;
    }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        td {
            padding: 10px;
            border: 1px solid #6272a4;
        }
        th {
            padding: 10px;
            text-align: left;
            border: 1px solid #6272a4;
            background-color: #44475a;
        }

        section {
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 0.5rem;
            color: #bd93f9;
        }

        button[type="submit"] {
            color: #8be9fd;
            text-decoration: none;
            padding: 0.5rem;
            background-color: transparent;
            border: 1px solid #8be9fd;
            cursor: pointer;
            font-family: 'Fira Code', monospace;
            margin-top: 1rem;
        }


        button[type="submit"]:hover {
            color: #f1fa8c;
        }

        input[type="text"],
        input[type="url"],
        input[type="number"],
        input[type="date"],
        textarea,select {
            padding: 0.5rem;
            margin: 0px;
            border: 1px solid #6272a4;
            border-radius: 3px;
            background-color: #282a36;
            color: #f8f8f2;
        }

        textarea {
            height: 100px;
            resize: vertical;
        }

        a {
            color: #a1e7fa;
            text-decoration: none;
        }

        a:hover {
            color: #f1fa8c;
        }

</style>

</head>
<body>
    <nav>
        <div class="nav-content">
            <ul>
                <li><a href="/">Portada</a></li>
            </ul>
            <% if (currentUser) { %>
                <div class="access-link">
                    <span style="color: #f8f8f2; margin-right: 10px;"><%= currentUser.nombre %></span>
                    <a href="/perfil" style="color: #8be9fd; text-decoration: none; margin-right: 10px;">Perfil</a>
                    <a href="/salir" style="color: #ff5555; text-decoration: none;">Salir</a>
                </div>
            <% } else { %>
                <a href="/acceso" class="access-link">Acceso</a>
            <% } %>
        </div>
    </nav>
    <div class="container">