<%- include('../header.ejs') %>








<section class="py-8">
  <div class="container px-4 mx-auto">
    <div class="relative p-6 bg-white shadow rounded">

      <p class="flex items-center mb-4 text-sm">
        <span class="inline-block mr-2">
          <svg class="h-4 w-4 text-indigo-500" viewbox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8332 3.41668H12.3332V2.58334C12.3332 1.9203 12.0698 1.28442 11.6009 0.815577C11.1321 0.346736 10.4962 0.0833435 9.83317 0.0833435H8.1665C7.50346 0.0833435 6.86758 0.346736 6.39874 0.815577C5.9299 1.28442 5.6665 1.9203 5.6665 2.58334V3.41668H3.1665C2.50346 3.41668 1.86758 3.68007 1.39874 4.14891C0.929896 4.61775 0.666504 5.25363 0.666504 5.91668V13.4167C0.666504 14.0797 0.929896 14.7156 1.39874 15.1844C1.86758 15.6533 2.50346 15.9167 3.1665 15.9167H14.8332C15.4962 15.9167 16.1321 15.6533 16.6009 15.1844C17.0698 14.7156 17.3332 14.0797 17.3332 13.4167V5.91668C17.3332 5.25363 17.0698 4.61775 16.6009 4.14891C16.1321 3.68007 15.4962 3.41668 14.8332 3.41668ZM7.33317 2.58334C7.33317 2.36233 7.42097 2.15037 7.57725 1.99409C7.73353 1.83781 7.94549 1.75001 8.1665 1.75001H9.83317C10.0542 1.75001 10.2661 1.83781 10.4224 1.99409C10.5787 2.15037 10.6665 2.36233 10.6665 2.58334V3.41668H7.33317V2.58334ZM15.6665 13.4167C15.6665 13.6377 15.5787 13.8497 15.4224 14.0059C15.2661 14.1622 15.0542 14.25 14.8332 14.25H3.1665C2.94549 14.25 2.73353 14.1622 2.57725 14.0059C2.42097 13.8497 2.33317 13.6377 2.33317 13.4167V9.20834H4.83317V10.0833C4.83317 10.3044 4.92097 10.5163 5.07725 10.6726C5.23353 10.8289 5.44549 10.9167 5.6665 10.9167C5.88752 10.9167 6.09948 10.8289 6.25576 10.6726C6.41204 10.5163 6.49984 10.3044 6.49984 10.0833V9.20834H11.4998V10.0833C11.4998 10.3044 11.5876 10.5163 11.7439 10.6726C11.9002 10.8289 12.1122 10.9167 12.3332 10.9167C12.5542 10.9167 12.7661 10.8289 12.9224 10.6726C13.0787 10.5163 13.1665 10.3044 13.1665 10.0833V9.20834H15.6665V13.4167ZM15.6665 7.58334H2.33317V5.91668C2.33317 5.69566 2.42097 5.4837 2.57725 5.32742C2.73353 5.17114 2.94549 5.08334 3.1665 5.08334H14.8332C15.0542 5.08334 15.2661 5.17114 15.4224 5.32742C15.5787 5.4837 15.6665 5.69566 15.6665 5.91668V7.58334Z" fill="currentColor"></path>
          </svg>
        </span>
        <span>Nombre: <%= usuario.nombre %></span>
      </p>
      <p class="flex items-center mb-6 text-sm">
        <span class="inline-block mr-2">
          <svg class="h-4 w-4 text-indigo-500" viewbox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8332 0.333336H3.1665C2.50346 0.333336 1.86758 0.596728 1.39874 1.06557C0.929896 1.53441 0.666504 2.17029 0.666504 2.83334V11.1667C0.666504 11.8297 0.929896 12.4656 1.39874 12.9344C1.86758 13.4033 2.50346 13.6667 3.1665 13.6667H14.8332C15.4962 13.6667 16.1321 13.4033 16.6009 12.9344C17.0698 12.4656 17.3332 11.8297 17.3332 11.1667V2.83334C17.3332 2.17029 17.0698 1.53441 16.6009 1.06557C16.1321 0.596728 15.4962 0.333336 14.8332 0.333336ZM3.1665 2H14.8332C15.0542 2 15.2661 2.0878 15.4224 2.24408C15.5787 2.40036 15.6665 2.61232 15.6665 2.83334L8.99984 6.9L2.33317 2.83334C2.33317 2.61232 2.42097 2.40036 2.57725 2.24408C2.73353 2.0878 2.94549 2 3.1665 2ZM15.6665 11.1667C15.6665 11.3877 15.5787 11.5996 15.4224 11.7559C15.2661 11.9122 15.0542 12 14.8332 12H3.1665C2.94549 12 2.73353 11.9122 2.57725 11.7559C2.42097 11.5996 2.33317 11.3877 2.33317 11.1667V4.73334L8.5665 8.54167C8.69319 8.61481 8.83689 8.65331 8.98317 8.65331C9.12945 8.65331 9.27315 8.61481 9.39984 8.54167L15.6665 4.73334V11.1667Z" fill="currentColor"></path>
          </svg>
        </span>
        <span>Correo: <%= usuario.email %></span>
      </p>
      <a class="flex items-center justify-center" href="/salir">[ Cerrar Sesión ]</a>
    </div>
  </div>
</section>




