<%- include('../header.ejs') %>
<section id="login" class="projects-section">
  <h2>Acceso</h2>
  <div class="projects">
      <div class="project">
          <div class="project-header">
              <div class="project-title">
                  <h3>Iniciar Sesión</h3>
              </div>
          </div>
          <form action="/acceso" method="POST">
              <div class="skills">
                  <div class="skill">
                      <span class="skill-name">Correo</span>
                      <input type="email" name="email" required style="width: 100%; background-color: #282a36; color: #f8f8f2; border: 1px solid #6272a4; padding: 5px; border-radius: 4px;">
                  </div>
                  <div class="skill">
                      <span class="skill-name">Contraseña</span>
                      <input type="password" name="contrasena" required style="width: 100%; background-color: #282a36; color: #f8f8f2; border: 1px solid #6272a4; padding: 5px; border-radius: 4px;">
                  </div>
              </div>
              <a href="#" class="project-link" onclick="this.closest('form').submit(); return false;">Iniciar Sesión</a>
          </form>
      </div>

      <div >
    </div>






  </div>
</section>


<%- include('../footer.ejs') %>


