<%- include('../header.ejs') %>

<section class="profile">
    <div class="profile-text">
        <h1><%= usuario.nombre %></h1>
        <p>Correo: <%= usuario.email %></p>
        <a href="/salir" style="color: #8be9fd; text-decoration: none; margin-top: 10px; display: inline-block;">[ Cerrar Sesión ]</a>
    </div>
</section>

<%- include('../footer.ejs') %>