<%- include('../header.ejs') %>



<section id="portada" class="profile">

    <div class="profile-image">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
            <g transform="translate(23, 23) scale(0.5)">
                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m41.705 22.622l-12.846-7.416a1.591 1.591 0 0 0-2.387 1.378v14.832a1.591 1.591 0 0 0 2.387 1.378l12.846-7.416a1.591 1.591 0 0 0 0-2.756m-20.419 6.256H5.5m15.786-9.756H5.5m15.786-9.755H5.5m15.786 29.266H5.5"/>
                </g>
            </g>
        </svg>
    </div>
    
    <div class="profile-text">
        <h1>Blog</h1>
        <p>Próximamente.</p>
    </div>
</section>


<hr>

    <section id="menu-proyectos">
    
        <ol id="filter-list" style="margin-top:-10px; list-style-type: none; padding: 0;">
    
            <li style="display: inline;">
                <a href="/">Proyectos</a>
                <span style="color: #6272a4; margin: 0 5px;"> > </span>
            </li>
    
            <li style="display: inline;">Blog
            </li>
            
        </ol>
    
    </section>




        
        <section id="blog" class="projects-section">
            <div class="projects">
                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/foto.png" alt="Blog Post 1" class="project-image">
                        <div class="project-title">
                            <h3>Próximamente</h3>
                            <p class="project-rights">Fecha: 16 de septiembre, 2024</p>
                        </div>
                    </div>
                    <p>Próximamente.</p>
                    <a href="/blog/post-1" class="project-link">Ver más</a>
                </div>
        
                <!-- Puedes añadir más posts siguiendo la misma estructura -->
        
            </div>
        </section>
        

<%- include('../footer.ejs') %>
