<%- include('../header.ejs') %>


        
        <section id="blog" class="projects-section">
            <h2>Blog</h2>
            <div class="projects">
                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/foto.png" alt="Blog Post 1" class="project-image">
                        <div class="project-title">
                            <h3>Próximamente</h3>
                            <p class="project-rights">Fecha: 16 de septiembre, 2024</p>
                        </div>
                    </div>
                    <p>Próximamente.</p>
                    <a href="/blog/post-1" class="project-link">Ver más</a>
                </div>
        
                <!-- Puedes añadir más posts siguiendo la misma estructura -->
        
            </div>
        </section>
        

<%- include('../footer.ejs') %>
