<%- include('../header.ejs') %>

        <section id="portada" class="profile">
            <img src="/static/imagenes/foto.png" alt="Varg" class="profile-image">
            <div class="profile-text">
                <h1>Juan Pablo Vargas</h1>
                <p>Legal Development.</p>
            </div>
        </section>

        <hr>

        
            <div class="profile">
                <div class="profile-text">
                    <table>
                        <tr>
                            <td><strong>Residencia:</strong></td>
                            <td>Puerto Varas, Chile</td>
                        </tr>
                        <tr>
                            <td><strong>Contacto:</strong></td>
                            <td>
                                <a href="mailto:juanpablo@varg.cl">juanpablo@varg.cl</a> | 
                                <a href="tel:+56937539918">+569 3753 9918</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>LinkedIn:</strong></td>
                            <td><a href="https://www.linkedin.com/in/juanpablovac">juanpablovac</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        
            <section class="press-appearances">
                <h2>Apariciones en Prensa</h2>
                <div class="projects">
                    <div class="project">
                        <div class="project-header">
                            <img src="/static/imagenes/play.png" alt="Video" class="project-image">
                            <div class="project-title">
                                <h3>Entrevista ADN Radio</h3>
                                <p class="project-rights">9/11/2024</p>
                            </div>
                            <a href="https://www.youtube.com/watch?v=khd-yREfc50" class="collaboration-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" y1="12" x2="3" y2="12"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                   
                </div>
            </section>
<%- include('../footer.ejs') %>