<%- include('../header.ejs') %>

        <section id="portada" class="profile">
            <img src="/static/imagenes/foto.png" alt="Varg" class="profile-image">
            <div class="profile-text">
                <h1>Juan Pablo Vargas</h1>
                <p>Legal Development.</p>
            </div>
        </section>

        <hr>

        
            
<%- include('../footer.ejs') %>