<%- include('../header.ejs') %>

        <section id="portada" class="profile">
            <img src="/static/imagenes/foto.png" alt="Varg" class="profile-image">
            <div class="profile-text">
                <h1>Juan Pablo Vargas</h1>
                <p>Legal Development.</p>
            </div>
        </section>

        <hr>

        
            <div class="profile">
                <div class="profile-text">
                    <table>
                        <tr>
                            <td><strong>Residencia:</strong></td>
                            <td>Puerto Varas, Chile</td>
                        </tr>
                        <tr>
                            <td><strong>Contacto:</strong></td>
                            <td>
                                <a href="mailto:juanpablo@varg.cl">juanpablo@varg.cl</a> | 
                                <a href="tel:+56937539918">+569 3753 9918</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
<%- include('../footer.ejs') %>