<%- include('../header.ejs') %>



        <section id="portada" class="profile">
            <img src="/static/imagenes/foto.png" alt="Mi foto de perfil" class="profile-image">
            <div class="profile-text">
                <h1>Juan Pablo Vargas</h1>
                <p>Aceleración de Negocios, Abogado y Desarrollador JS/NodeJS.</p>
            </div>
        </section>
        <section id="proyectos-socio" class="projects-section">
            <h2>Proyectos</h2>
            <div class="projects">
               
               
               
                <a href="https://armis.cl" target="_blank" class="a-link"><div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/armis.png" alt="ARMIS" class="project-image">
                        <div class="project-title">
                            <h3>ARMIS</h3>
                            <p class="project-rights">Estado: 100%</p>
                        </div>
                    </div>
                    <p>Soluciones Legales para comunidades.</p>
                    <div class="skills">
                        <div class="skill">
                            <span class="skill-name">Legal</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 50%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Diseño</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Código</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                    </div>
                    <!-- <a href="#" class="project-link">Ver proyecto</a> -->
                </div>
            </a>



            <a href="https://auda.cl" target="_blank"  class="a-link">
                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/auda.png" alt="AUDA" class="project-image">
                        <div class="project-title">
                            <h3>AUDA</h3>
                            <p class="project-rights">Estado: 100%</p>
                        </div>
                    </div>
                    <p>Auditoría Especialista de Comunidades.</p>
                    <div class="skills">
                        <div class="skill">
                            <span class="skill-name">Legal</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Diseño</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Código</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                    </div>
                </div></a>


                

                <a href="https://synco.cl" target="_blank"  class="a-link">
                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/synco.png" alt="SYNCO" class="project-image">
                        <div class="project-title">
                            <h3>SYNCO</h3>
                            <p class="project-rights">Derechos: 99%</p>
                        </div>
                    </div>
                    <p>Gestión de Redes Sociales.</p>
                    <div class="skills">
                        <div class="skill">
                            <span class="skill-name">Legal</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Diseño</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 50%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Código</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                    </div>
                </div>
</a>


<div class="project">
    <div class="project-header">
        <img src="/static/imagenes/puig.png" alt="PUIG" class="project-image">
        <div class="project-title">
            <h3>PUIG</h3>
            <p class="project-rights">Estado: 80%</p>
        </div>
    </div>
    <p>Soporte Laboral para empresas.</p>
    <div class="skills">
        <div class="skill">
            <span class="skill-name">Legal</span>
            <div class="skill-bar"><div class="skill-level" style="width: 50%;"></div></div>
        </div>
        <div class="skill">
            <span class="skill-name">Diseño</span>
            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
        </div>
        <div class="skill">
            <span class="skill-name">Código</span>
            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
        </div>
    </div>
</div>


                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/no.png" alt="CLUBON" class="project-image">
                        <div class="project-title">
                            <h3>CLUB/ON</h3>
                            <p class="project-rights">Estado: 70%</p>
                        </div>
                    </div>
                    <p>Plataforma de gestión de membresías.</p>
                    <div class="skills">
                        <div class="skill">
                            <span class="skill-name">Legal</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Diseño</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Código</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                    </div>
                </div>





                <div class="project">
                    <div class="project-header">
                        <img src="/static/imagenes/buzo.png" alt="BUZO" class="project-image">
                        <div class="project-title">
                            <h3>BUZO</h3>
                            <p class="project-rights">Derechos: 20%</p>
                        </div>
                    </div>
                    <p>Plataforma para la industria Salmonera</p>
                    <div class="skills">
                        <div class="skill">
                            <span class="skill-name">Legal</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Diseño</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                        <div class="skill">
                            <span class="skill-name">Código</span>
                            <div class="skill-bar"><div class="skill-level" style="width: 100%;"></div></div>
                        </div>
                    </div>
                </div>






            </div>


        </section>



<%- include('../footer.ejs') %>
