<!DOCTYPE html>
<html>
<head>
  <title>Subir y Administrar Archivos</title>
</head>
<body>
  <h1>Subir Archivo</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Subir archivo</button>
  </form>

  <h2>Archivos en el servidor</h2>
  <% if (files && files.length > 0) { %>
    <ul>
      <% files.forEach(file => { %>
        <li>
          <a href="/archivos/<%= file %>"><%= file %></a>
          <form action="/eliminar" method="POST" style="display:inline;">
            <input type="hidden" name="filename" value="<%= file %>" />
            <button type="submit">Eliminar</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No hay archivos.</p>
  <% } %>

  <p><%= message %></p>
</body>
</html>
