<%- include('../header.ejs') %>

        <section id="portada" class="profile">
            <img src="/static/imagenes/no.png" alt="Auda" class="profile-image">
            <div class="profile-text">
                <h1>ClubOn</h1>
                <p>Plataforma de gestión de Membership Sites</p>
            </div>
        </section>
        
        <ol style="list-style-type: none; padding: 0;">
            <li style="display: inline;">
                <a href="/" style="color: #8be9fd; text-decoration: none;">Portada</a>
                <span style="color: #6272a4; margin: 0 5px;"> > </span>
            </li>
            <li style="display: inline; color: #f8f8f2;" aria-current="page">CLUBON</li>
        </ol>
<%- include('../footer.ejs') %>
